.counter{
    display: flex;
    justify-content: center;
}
.counterFull{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.decrement{
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px;
}
.decrement:hover{
    background: -webkit-linear-gradient(left, #0d2a33 0%,#6ef0a0 99%);
    color: white;
}

.increment{
    border-radius: 5px;
    border: 1px solid black;
    margin: 20px;
}
.increment:hover{
    background: -webkit-linear-gradient(left, #0d2a33 0%,#6ef0a0 99%);
    color: white;
}
.btnAgregar{
    border: 1px solid black;
    border-radius: 10px;
}
.btnAgregar:hover{
    background: -webkit-linear-gradient(left, #0d2a33 0%,#6ef0a0 99%);
    color: white;
}