.counter{
    display: flex;
    justify-content: center;
}
.counterFull{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    width: 200px;
}
.decrement{
    border: 1px solid black;
    margin: 20px;
}
.decrement:hover{
    background-color: black;
    color: white;
}

.increment{
    border: 1px solid black;
    margin: 20px;
}
.increment:hover{
    background-color: black;
    color: white;
}
.btnAgregar{
    border: 1px solid black;
    border-radius: 10px;
}
.btnAgregar:hover{
    background-color: black;
    color: white;
}