.card_master{
    display: flex;
    flex-direction: row;
}


@media (max-width: 768px){
    .card_master{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }
}